{% extends 'base.html.twig' %}

{% block title %}Adresses{% endblock %}

{% block body %}
    <h1>Adresses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adress.id }}</td>
            </tr>
            <tr>
                <th>Numeros</th>
                <td>{{ adress.numeros }}</td>
            </tr>
            <tr>
                <th>Voies</th>
                <td>{{ adress.voies }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ adress.cp }}</td>
            </tr>
            <tr>
                <th>Villes</th>
                <td>{{ adress.villes }}</td>
            </tr>
            <tr>
                <th>Date_add</th>
                <td>{{ adress.dateAdd ? adress.dateAdd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ adress.dateUpdate ? adress.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ adress.dateDelete ? adress.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Activate</th>
                <td>{{ adress.activate ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adresses_index') }}">back to list</a>

    <a href="{{ path('adresses_edit', {'id': adress.id}) }}">edit</a>

    {{ include('adresses/_delete_form.html.twig') }}
{% endblock %}
