{% extends 'base.html.twig' %}

{% block title %}New Locataires{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center m-5 text-white">AJOUTER UN LOCATAIRE</h2>
        {{form_start(form)}}
        <div class="formBorder border border-dark p-3 mx-auto w-50">
            <div class="form-group">
                <label class="text-white" for="nom">Nom:</label>
                {{form_widget(form.noms)}}
            </div>
            <div class="form-group">
                <label class="text-white" for="prenom">Prénom:</label>
                {{form_widget(form.prenoms)}}
            </div>
            <div class="form-group">
                <label class="text-white" for="dateNaissance">Date de naissance:</label>
                {{form_widget(form.date_de_naissances)}}
            </div>
            <div class="form-group">
                <label class="text-white" for="lieuNaissance">Lieu de naissance:</label>
                {{form_widget(form.lieu_de_naissances)}}
            </div>
            <div class="form-group">
                <label class="text-white" for="email">E-mail:</label>
                {{form_widget(form.email)}}
            </div>
            <div class="form-group">
                <label class="text-white" for="phone">Téléphone:</label>
                {{form_widget(form.telephones)}}
            </div>
            <div class="form-group">
                <label class="text-white" for="situation">Situation de famille:</label>
                {{form_widget(form.situation_de_familles)}}
            </div>
            <div class="form-group">
                <label class="text-white" for="situation">Password:</label>
                {{form_widget(form.password)}}
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-light mt-4">AJOUTER</button>
            </div>
        </div>
        {{form_end(form)}}
        <div class="text-center mt-5 mb-5">
            <a href="{{ path('locataires_index') }}" class="btn btn-dark">← Retour à la liste</a>
        </div>
    </div>
{% endblock %}
