{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center m-5 text-white">DETAILS DU MESSAGE</h2>
        <div class="row formBorder border border-dark mx-auto p-3">
            <div class="col">
                <div class="mt-2 mb-2 text-white"><span class="text-warning">E-mail: </span>{{ message.emails }}</div>
                <div class="mt-2 mb-2 text-white"><span class="text-warning">Objet: </span>{{ message.objets }}</div>
                <div class="mt-2 mb-2 text-white"><span class="text-warning">Date d'envoie: </span>{{ message.dateAdd ? message.dateAdd|date('d-m-Y') : '' }}</div>
                <div class="mt-2 mb-2 text-white"><span class="text-warning">Nom du bien: </span>{{ bien.noms }}</div>
                <div class="mt-2 mb-2 text-white"><span class="text-warning">message: </span>{{ message.demandes }}</div>
            </div>
        </div>
    </div>
    <div class="text-center m-5">
        <a href="{{ path('messages_index') }}" class="btn btn-dark">← Retour à la liste des messages</a>
    </div>
{% endblock %}
